packages:
  yum:
    elinks: []

sources:
  /opt/cloudwatch: http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip

files:
  /tmp/config.test :
    mode: "000444"
    content: |
      one = '`{"Fn::GetOptionSetting" : { "OptionName" : "MY_AWESOME_PARAMETER1", "DefaultValue1" : "Not Found" }}`'
      two = '`{"Fn::GetOptionSetting" : { "OptionName" : "MY_AWESOME_PARAMETER2", "DefaultValue2" : "Not Found" }}`'
      three = '`{"Fn::GetOptionSetting" : { "OptionName" : "MY_AWESOME_PARAMETER3", "DefaultValue3" : "Not Found" }}`'
  /tmp/setup.sh :
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/bin/bash

        cat > /var/www/html/config.php <<EOF
        <?php
        \$db_name = '${RDS_DB_NAME}';
        \$db_host = '${RDS_HOSTNAME}';
        \$db_user = '${RDS_USERNAME}';
        \$db_password = '${RDS_PASSWORD}';
        \$db_port = '${RDS_PORT}';
        ?>
        EOF

container_commands:
  set_up:
    command: sleep 120 && /tmp/setup.sh
